<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/base.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="icon" href="/images/logo.png">
    <title>Announcements</title>
</head>
<body>
    <div class="app">
        <div class="container-fluid">
            <div class="content">
                <div class="row g-0">
                    <div class="d-none d-md-block col-md-2">
                        <div class="navbar">
                            <div class="logo">
                                <img src="/images/logo.png" alt="logo">
                                <p>MANCHESTER UNITED</p>
                            </div>
                            <div class="main-menu">
                                <ul class="menu-list">
                                    <li class="menu-item">
                                        <a href="/" class="menu-link">
                                            <span class="material-icons">space_dashboard</span>
                                            <p>Dashboard</p>
                                        </a>
                                    </li>
                                    <% if (user.role === 3) { %> 
                                        <li class="menu-item">
                                            <a href="/stat/<%= user.id %>" class="menu-link">
                                                <span class="material-icons">poll</span>
                                                <p>Statistics</p>
                                            </a>
                                        </li>
                                    <% } else { %>
                                        <li class="menu-item">
                                            <a href="/players" class="menu-link" id="player-stat-link">
                                                <span class="material-icons">poll</span>
                                                <p>Management</p>
                                            </a>
                                        </li>
                                    <% } %> 
                                    <li class="menu-item">
                                        <a href="" class="menu-link">
                                            <span class="material-icons">event</span>
                                            <p>Events</p>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/lectures" class="menu-link">
                                            <span class="material-icons">text_snippet</span>
                                            <p>Lectures</p>
                                        </a>
                                    </li>
                                    <li class="menu-item menu-item--active">
                                        <a href="" class="menu-link menu-link--active">
                                            <span class="material-icons">notifications</span>
                                            <p>Announcements</p>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="" class="menu-link">
                                            <span class="material-icons">account_circle</span>
                                            <p>Personal</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="sponsors">
                                <div class="sponsors__title">
                                    <p>Sponsors</p>
                                    <div class="title-sub"></div>
                                </div>
                                <ul class="sponsor-list">
                                    <li class="sponsor-item">
                                        <img src="/images/sponsor_adidas.png" alt="" height="45px">
                                    </li>
                                    <li class="sponsor-item">
                                        <img src="/images/sponsor_teamviewer.png" alt="" height="35px">
                                    </li>
                                    <li class="sponsor-item">
                                        <img src="/images/sponsor_kohler.png" alt="" height="20px">
                                    </li>
                                </ul>
                                <div class="sponsors__divider"></div>
                            </div>
                            <div class="sub-menu">
                                <ul class="sub-menu-list">
                                    <li class="sub-menu-item">
                                        <a href="/auth" class="sub-menu-link">
                                            <span class="material-icons">logout</span>
                                            <p>Logout</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-10">
                        <div class="main-content">
                            <div class="content__modal">
                                <div class="announcement__create-box">
                                    <div class="announcement-create-box__title">
                                        <span>Post an announcement</span>
                                    </div>
                                    <div class="announcement-create-box__content">
                                        <div class="announcement-create-box__announcement-title">
                                            <label for="announcement-title">Title</label>
                                            <input type="text" id="announcement-title">
                                        </div>
                                        <div class="announcement-create-box__announcement-content">
                                            <label for="announcement-content">Content</label>
                                            <textarea id="announcement-content"></textarea>
                                        </div>
                                    </div>
                                    <div class="create-box__button">
                                        <div class="create-box__create-btn">
                                            <span>Create</span>
                                        </div>
                                        <div class="create-box__cancel-btn">
                                            <span>Cancel</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content__announcement-management">
                                <div class="announcement-management__title">
                                    <span>Announcements</span>
                                </div>
                                <div class="announcement-management__search-box">
                                    <input id="searchAnnouncementInput" type="text" placeholder="Search..">
                                    <% if(user.role !== 3) { %> 
                                        <div class="announcement-management__create">
                                            <span class="material-icons">add_circle</span>
                                            <span class="create-announcement__label">Add</span>
                                        </div>
                                    <% } %> 
                                </div>
                                <div class="announcement-management__announcement-list"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- -------------------- -->
    <!-- Boostrap javascript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(document).ready(() => {
            let getCookie = (name) => {
                var nameEQ = name + "=";
                var ca = document.cookie.split(';');
                for(var i=0;i < ca.length;i++) {
                    var c = ca[i];
                    while (c.charAt(0)==' ') c = c.substring(1,c.length);
                    if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
                }
                return null;
            };

            let parseJwt = (token) => {
                var base64Url = token.split('.')[1];
                var base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
                var jsonPayload = decodeURIComponent(atob(base64).split('').map(function(c) {
                    return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
                }).join(''));

                return JSON.parse(jsonPayload);
            };

            let payLoad = parseJwt(getCookie('auth-token'));

            $.ajax({
                url: 'http://localhost:3001/coach/' + payLoad.data.member_id + '/announcements',
                type: 'GET',
                dataType: 'json',
                contentType: 'application/json',
                headers: {
                    'auth-token': getCookie('auth-token'),
                },
                success: (response) => {
                    let announcementList = response.data;

                    let html = '';

                    announcementList.forEach((announcement) => {
                        let date = new Date(announcement.date_created);
                        let options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
                        html += `
                            <div class="announcement-management__announcement-item">
                                <div class="announcement-item__image">
                                    <img src="${announcement.coach.photo}" onerror="this.src='/images/avatar_test.jpg'" alt="">
                                </div>
                                <div class="announcement-item__body">
                                    <div class="announcement-item__header">
                                        <div class="announcement-item__author">
                                            <span>${announcement.coach.name}</span>
                                        </div>
                                        <span>created a new post:</span>
                                        <div class="announcement-item__title">
                                            <span>${unescape(announcement.title)}</span>
                                        </div>
                                    </div>
                                    <div class="announcement-item__content">
                                        <span>${unescape(announcement.message)}</span>
                                    </div>
                                    <div class="announcement-item__footer">
                                        <div class="announcement-item__date">
                                            <span>${date.toLocaleDateString("en-US", options)}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        `;
                    });

                    $('.announcement-management__announcement-list').html(html);

                    $('#searchAnnouncementInput').on('keyup', () => {
                        $('.announcement-management__announcement-list').html('');
                        let value = $('#searchAnnouncementInput').val().toLowerCase();

                        if(value === '' || value === undefined || value === null) {
                            $('.announcement-management__announcement-list').html(html);
                        } else {
                            let matchList = announcementList.filter( announcement => announcement.title.toLowerCase().indexOf(value) > -1);

                            matchList.forEach( announcement => {
                                let date = new Date(announcement.date_created);
                                let options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
                                $('.announcement-management__announcement-list').append(`
                                    <div class="announcement-management__announcement-item">
                                        <div class="announcement-item__image">
                                            <img src="${announcement.coach.photo}" onerror="this.src='/images/avatar_test.jpg'" alt="">
                                        </div>
                                        <div class="announcement-item__body">
                                            <div class="announcement-item__header">
                                                <div class="announcement-item__author">
                                                    <span>${announcement.coach.name}</span>
                                                </div>
                                                <span>created a new post:</span>
                                                <div class="announcement-item__title">
                                                    <span>${unescape(announcement.title)}</span>
                                                </div>
                                            </div>
                                            <div class="announcement-item__content">
                                                <span>${unescape(announcement.message)}</span>
                                            </div>
                                            <div class="announcement-item__footer">
                                                <div class="announcement-item__date">
                                                    <span>${date.toLocaleDateString("en-US", options)}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                `);
                            });
                        }
                    });
                },
                error: (XMLHttpRequest, textStatus, errorThrown) => {
                    let response = XMLHttpRequest.responseJSON;
                    alert(response.message);
                }
            });


            $('.announcement-management__create').click(() => {
                $('.content__modal').css('display', 'flex');
                $('.announcement__create-box').css('display', 'flex');
            });

            $('.create-box__cancel-btn').click(() => {
                $('.content__modal').css('display', 'none');
                $('.announcement__create-box').css('display', 'none');
            });

            $('.create-box__create-btn').click(() => {
                let title = $('#announcement-title').val();
                let content = $('#announcement-content').val();

                $.ajax({
                    url: 'http://localhost:3001/coach/' + payLoad.data.member_id + '/announcement',
                    type: 'POST',
                    headers: {
                        'auth-token': getCookie('auth-token'),
                    },
                    data: {
                        title: title,
                        content: content,
                    },
                    success: (data) => {
                        $('.content__modal').css('display', 'none');
                        $('.announcement__create-box').css('display', 'none');

                        let date = new Date(data.data.announcement.date_created);
                        let options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };

                        $('.announcement-management__announcement-list').prepend(`
                            <div class="announcement-management__announcement-item">
                                <div class="announcement-item__image">
                                    <img src="${data.data.coach.photo}" onerror="this.src='/images/avatar_test.jpg'" alt="">
                                </div>
                                <div class="announcement-item__body">
                                    <div class="announcement-item__header">
                                        <div class="announcement-item__author">
                                            <span>${data.data.coach.name}</span>
                                        </div>
                                        <span>created a new post:</span>
                                        <div class="announcement-item__title">
                                            <span>${unescape(data.data.announcement.title)}</span>
                                        </div>
                                    </div>
                                    <div class="announcement-item__content">
                                        <span>${unescape(data.data.announcement.message)}</span>
                                    </div>
                                    <div class="announcement-item__footer">
                                        <div class="announcement-item__date">
                                            <span>${date.toLocaleDateString("en-US", options)}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        `);

                        $('#announcement-title').val('');
                        $('#announcement-content').val('');
                    },
                    error: (XMLHttpRequest, textStatus, errorThrown) => {
                        let response = XMLHttpRequest.responseJSON;
                        alert(response.message);
                    }
                });
            });
        });
    </script>
</body>
</html>