<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/base.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="icon" href="/images/logo.png">
    <title>Statistics</title>
</head>
<body>
    <div class="app">
        <div class="container-fluid">
            <div class="content">
                <div class="row g-0">
                    <div class="d-none d-md-block col-md-2">
                        <div class="navbar">
                            <div class="logo">
                                <img src="/images/logo.png" alt="logo">
                                <p>MANCHESTER UNITED</p>
                            </div>
                            <div class="main-menu">
                                <ul class="menu-list">
                                    <li class="menu-item">
                                        <a href="/" class="menu-link">
                                            <span class="material-icons">space_dashboard</span>
                                            <p>Dashboard</p>
                                        </a>
                                    </li>
                                    <li class="menu-item menu-item--active">
                                        <a href="/stat" class="menu-link menu-link--active">
                                            <span class="material-icons">poll</span>
                                            <p>Statistics</p>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="" class="menu-link">
                                            <span class="material-icons">event</span>
                                            <p>Events</p>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="" class="menu-link">
                                            <span class="material-icons">text_snippet</span>
                                            <p>Lectures</p>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="" class="menu-link">
                                            <span class="material-icons">notifications</span>
                                            <p>Announcements</p>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="" class="menu-link">
                                            <span class="material-icons">account_circle</span>
                                            <p>Personal</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="sponsors">
                                <div class="sponsors__title">
                                    <p>Sponsors</p>
                                    <div class="title-sub"></div>
                                </div>
                                <ul class="sponsor-list">
                                    <li class="sponsor-item">
                                        <img src="/images/sponsor_adidas.png" alt="" height="45px">
                                    </li>
                                    <li class="sponsor-item">
                                        <img src="/images/sponsor_teamviewer.png" alt="" height="35px">
                                    </li>
                                    <li class="sponsor-item">
                                        <img src="/images/sponsor_kohler.png" alt="" height="20px">
                                    </li>
                                </ul>
                                <div class="sponsors__divider"></div>
                            </div>
                            <div class="sub-menu">
                                <ul class="sub-menu-list">
                                    <li class="sub-menu-item">
                                        <a href="/auth" class="sub-menu-link">
                                            <span class="material-icons">logout</span>
                                            <p>Logout</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-10">
                        <div class="main-content main-content--statistic">
                            <div class="content__player-stat-header">
                                <div class="player-stat__avatar">
                                    <img src="<%= data.player.avatar %>" onerror="this.src='/images/logo.png'">
                                </div>
                                <div class="player-stat__header">
                                    <div class="player-stat__header-attribute">
                                        <div class="player-stat__header-name">
                                            <span><%= data.player.name %></span></span>
                                        </div>
                                        <div class="player-stat__header-number">
                                            <span>#<%= data.player.kit_number %></span>
                                        </div>
                                    </div>
                                    <div class="player-stat__header-attribute">
                                        <span class="player-stat__header-title">Position</span>
                                        <span><%= data.player.position %></span></span>
                                    </div>
                                    <div class="player-stat__header-attribute">
                                        <span class="player-stat__header-title">Nationality</span>
                                        <span id="player-stat__nationality"></span>
                                    </div>
                                    <div class="player-stat__header-attribute">
                                        <span class="player-stat__header-title">Age</span>
                                        <span id="player-stat__age"></span>
                                    </div>
                                    <div class="player-stat__header-attribute">
                                        <span class="player-stat__header-title">Weight</span>
                                        <span id="player-stat__weight"></span>
                                    </div>
                                    <div class="player-stat__header-attribute">
                                        <span class="player-stat__header-title">Height</span>
                                        <span id="player-stat__height"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="content__player-stat-detail-row1">
                                <div class="player-stat--component" style="width: 20%;">
                                    <div class="stat-component--icon">
                                        <span class="material-icons">
                                            stars
                                        </span>
                                    </div>
                                    <div class="stat-component--data">
                                        <span class="stat-component--title">
                                            Rating
                                        </span>
                                        <span id="player-stat__rating" class="stat-component--content"></span>
                                    </div>
                                </div>
                                <div class="player-stat--component" style="width: 20%;">
                                    <div class="stat-component--icon">
                                        <span class="material-icons">
                                            schedule
                                        </span>
                                    </div>
                                    <div class="stat-component--data">
                                        <span class="stat-component--title">
                                            Minutes
                                        </span>
                                        <span id="player-stat__minutes" class="stat-component--content"></span>
                                    </div>
                                </div>
                                <div class="player-stat--component" style="width: 20%;">
                                    <div class="stat-component--icon">
                                        <span class="material-icons" style="color:rgb(218, 214, 0);">
                                            pan_tool
                                        </span>
                                    </div>
                                    <div class="stat-component--data">
                                        <span class="stat-component--title">
                                            Yellow card
                                        </span>
                                        <span id="player-stat__yellow-card" class="stat-component--content"></span>
                                    </div>
                                </div>
                                <div class="player-stat--component" style="width: 20%;">
                                    <div class="stat-component--icon">
                                        <span class="material-icons">
                                            pan_tool
                                        </span>
                                    </div>
                                    <div class="stat-component--data">
                                        <span class="stat-component--title">
                                            Red card
                                        </span>
                                        <span id="player-stat__red-card" class="stat-component--content"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="content__player-stat-detail-row2">
                                <div class="player-stat--component" style="width: 30%;">
                                    <div class="stat-component--chart">
                                        <canvas id="apprearenceChart"></canvas>
                                        <span id="player-stat__appearences" class="component-chart--label-apprearence"></span>
                                    </div>
                                </div>
                                <div class="player-stat--component" style="width: 30%;">
                                    <div class="stat-component--chart">
                                        <canvas id="passChart"></canvas>
                                        <span id="player-stat__accurate" class="component-chart--label-passes"></span>
                                    </div>
                                </div>
                                <div class="player-stat--component" style="width: 30%;">
                                    <div class="stat-component--comment">
                                        <span class="component-comment--title">
                                            Comment box
                                        </span>
                                        <div class="component-comment--content">
                                            <div class="component-comment--item">
                                                <div class="comment-item--author">
                                                    <span>Coach</span>
                                                </div>
                                                <div class="comment-item--message">
                                                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus qui fugit molestiae laboriosam quae sunt sed quam esse possimus eius. Odit, cumque. Illo accusantium corrupti eos sapiente doloribus, aspernatur voluptas.</span>
                                                </div>
                                                <div class="comment-item--date">
                                                    <span>Dec 26, 2021</span>
                                                </div>
                                            </div>
                                            <div class="component-comment--item">
                                                <div class="comment-item--author">
                                                    <span>Coach</span>
                                                </div>
                                                <div class="comment-item--message">
                                                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus qui fugit molestiae laboriosam quae sunt sed quam esse possimus eius. Odit, cumque. Illo accusantium corrupti eos sapiente doloribus, aspernatur voluptas.</span>
                                                </div>
                                                <div class="comment-item--date">
                                                    <span>Dec 26, 2021</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="component-comment--input">
                                            <input type="text" id="comment--input" placeholder="Write a comment...">
                                            <div class="comment-send">
                                                <span class="material-icons">send</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content__player-stat-detail-row3">
                                <div class="player-stat--component" style="width: 45%; flex-direction: column;">
                                    <span class="player-stat--component-title">
                                        Attack statistics
                                    </span>
                                    <div class="stat-component--data-plus">
                                        <div class="data-plus--item" style="width: 18%;">
                                            <div id="player-stat__goals" class="data-plus--number"></div>
                                            <span class="data-plus--title">
                                                Goals
                                            </span>
                                        </div>
                                        <div class="data-plus--item" style="width: 18%;">
                                            <div id="player-stat__shots" class="data-plus--number"></div>
                                            <span class="data-plus--title">
                                                Shots
                                            </span>
                                        </div>
                                        <div class="data-plus--item" style="width: 18%;">
                                            <div id="player-stat__assists" class="data-plus--number"></div>
                                            <span class="data-plus--title">
                                                Assists
                                            </span>
                                        </div>
                                        <div class="data-plus--item" style="width: 18%;">
                                            <div id="player-stat__keypasses" class="data-plus--number"></div>
                                            <span class="data-plus--title">
                                                Key passes
                                            </span>
                                        </div>
                                        <div class="data-plus--item" style="width: 18%;">
                                            <div id="player-stat__dribbles" class="data-plus--number"></div>
                                            <span class="data-plus--title">
                                                Dribble rate
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="player-stat--component" style="width: 45%; flex-direction: column;">
                                    <span class="player-stat--component-title">
                                        Defense statistic
                                    </span>
                                    <div class="stat-component--data-plus">
                                        <div class="data-plus--item" style="width: 18%;">
                                            <div id="player-stat__fouls" class="data-plus--number"></div>
                                            <span class="data-plus--title">
                                                Drawn fouls
                                            </span>
                                        </div>
                                        <div class="data-plus--item" style="width: 18%;">
                                            <div  id="player-stat__fouled" class="data-plus--number"></div>
                                            <span class="data-plus--title">
                                                Fouled
                                            </span>
                                        </div>
                                        <div class="data-plus--item" style="width: 18%;">
                                            <div id="player-stat__tackles" class="data-plus--number"></div>
                                            <span class="data-plus--title">
                                                Tackles
                                            </span>
                                        </div>
                                        <div class="data-plus--item" style="width: 18%;">
                                            <div id="player-stat__duels" class="data-plus--number"></div>
                                            <span class="data-plus--title">
                                                Duel rate
                                            </span>
                                        </div>
                                        <div class="data-plus--item" style="width: 18%;">
                                            <div id="player-stat__saves" class="data-plus--number"></div>
                                            <span class="data-plus--title">
                                                Save
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- -------------------- -->
    <!-- Boostrap javascript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!--  Chart js  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.2/chart.min.js" integrity="sha512-tMabqarPtykgDtdtSqCL3uLVM0gS1ZkUAVhRFu1vSEFgvB73niFQWJuvviDyBGBH22Lcau4rHB5p2K2T0Xvr6Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>

        const GLOBAL_ROUND = 16;

        let getCookie = (name) => {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for(var i=0;i < ca.length;i++) {
                var c = ca[i];
                while (c.charAt(0)==' ') c = c.substring(1,c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
            }
            return null;
        };

        let parseJwt = (token) => {
            var base64Url = token.split('.')[1];
            var base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
            var jsonPayload = decodeURIComponent(atob(base64).split('').map(function(c) {
                return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
            }).join(''));

            return JSON.parse(jsonPayload);
        };

        let token = getCookie('auth-token');

        let payLoad = parseJwt(token);

        $.ajax({
            url: 'http://localhost:3001/player/' + payLoad.data.member_id + '/statistic',
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json',
            headers: {
                'auth-token': token,
            },
            success: (data) => {
                let playerStat = data.data.response[0].statistics[0];

                let playerInfo = data.data.response[0].player;
                
                $('#player-stat__nationality').text(playerInfo.nationality);
                $('#player-stat__age').text(playerInfo.age);
                $('#player-stat__weight').text(playerInfo.weight);
                $('#player-stat__height').text(playerInfo.height);
                $('#player-stat__rating').text(parseFloat(playerStat.games.rating).toFixed(2));
                $('#player-stat__minutes').text(playerStat.games.minutes);
                $('#player-stat__yellow-card').text(playerStat.cards.yellow);
                $('#player-stat__red-card').text(playerStat.cards.red);

                $('#player-stat__appearences').text(playerStat.games.appearences);

                const ctx_appearence = document.getElementById('apprearenceChart').getContext('2d');
                const apprearenceChart = new Chart(ctx_appearence, {
                    type: 'doughnut',
                    data: {
                        labels: [
                            'Line up',
                            'Subtitution in',
                            'Bench',
                            'Absent'
                        ],
                        datasets: [{
                            data: [playerStat.games.lineups,playerStat.substitutes.in,playerStat.substitutes.bench, GLOBAL_ROUND - playerStat.games.appearences],
                            backgroundColor: [
                            'rgb(255, 99, 132)',
                            'rgb(54, 162, 235)',
                            'rgb(255, 205, 86)',
                            'rgb(205, 205, 205)'
                            ],
                            hoverOffset: 4
                        }]
                    },
                    options: {
                        responsive: true,
                        plugins: {
                            legend: {
                                position: 'right',
                                labels: {
                                    font: {
                                        size: 14,
                                    }
                                }
                            },
                            title: {
                                display: true,
                                text: 'Appearences',
                                font: {
                                    size: 20,
                                },
                                align: 'start',
                            },
                            layout: {
                                autoPadding: false,
                                padding: 0
                            }
                        },
                    },
                });

                const ctx_pass = document.getElementById('passChart').getContext('2d');

                let accuracy = playerStat.passes.accuracy * playerStat.games.appearences;
                let inaccuracy = playerStat.passes.total - accuracy;
                let accurate = (accuracy/playerStat.passes.total)*100;

                $('#player-stat__accurate').text(Math.round(accurate)+'%');

                const passChart = new Chart(ctx_pass, {
                    type: 'doughnut',
                    data: {
                        labels: [
                            'Accuracy',
                            'Inaccuracy',
                        ],
                        datasets: [{
                            data: [accuracy, inaccuracy],
                            backgroundColor: [
                            'rgb(64, 218, 0)',
                            'rgb(255, 66, 92)'
                            ],
                            hoverOffset: 4
                        }]
                    },
                    options: {
                        responsive: true,
                        plugins: {
                            legend: {
                                position: 'right',
                                labels: {
                                    font: {
                                        size: 14,
                                    }
                                }
                            },
                            title: {
                                display: true,
                                text: 'Accurate',
                                font: {
                                    size: 20,
                                },
                                align: 'start',
                            },
                            layout: {
                                autoPadding: false,
                                padding: 0
                            }
                        },
                    },
                });

                let dribbleRate = (playerStat.dribbles.success/playerStat.dribbles.attempts)*100;

                $('#player-stat__goals').text(playerStat.goals.total);
                $('#player-stat__shots').text(playerStat.shots.total);
                $('#player-stat__assists').text(playerStat.goals.assists);
                $('#player-stat__keypasses').text(playerStat.passes.key);
                $('#player-stat__dribbles').text(Math.round(dribbleRate)+'%');

                let duelRate = (playerStat.duels.won/playerStat.duels.total)*100;
                let saves = '';

                if(playerStat.goals.saves === null) saves = '0'

                $('#player-stat__fouls').text(playerStat.fouls.drawn);
                $('#player-stat__fouled').text(playerStat.fouls.committed);
                $('#player-stat__tackles').text(playerStat.tackles.total);
                $('#player-stat__duels').text(Math.round(duelRate)+'%');
                $('#player-stat__saves').text(saves);

            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                console.log(textStatus);
            }
        });
    </script>
</body>
</html>