<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/base.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="icon" href="/images/logo.png">
    <title>Player Management Page</title>
</head>
<body>
    <div class="app">
        <div class="container-fluid">
            <div class="content">
                <div class="row g-0">
                    <div class="d-none d-md-block col-md-2">
                        <div class="navbar">
                            <div class="logo">
                                <img src="/images/logo.png" alt="logo">
                                <p>MANCHESTER UNITED</p>
                            </div>
                            <div class="main-menu">
                                <ul class="menu-list">
                                    <li class="menu-item">
                                        <a href="/" class="menu-link">
                                            <span class="material-icons">space_dashboard</span>
                                            <p>Dashboard</p>
                                        </a>
                                    </li>
                                    <li class="menu-item menu-item--active">
                                        <a href="/players" class="menu-link menu-link--active">
                                            <span class="material-icons">poll</span>
                                            <p>Management</p>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="" class="menu-link">
                                            <span class="material-icons">event</span>
                                            <p>Events</p>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="" class="menu-link">
                                            <span class="material-icons">text_snippet</span>
                                            <p>Lectures</p>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="" class="menu-link">
                                            <span class="material-icons">notifications</span>
                                            <p>Announcements</p>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="" class="menu-link">
                                            <span class="material-icons">account_circle</span>
                                            <p>Personal</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="sponsors">
                                <div class="sponsors__title">
                                    <p>Sponsors</p>
                                    <div class="title-sub"></div>
                                </div>
                                <ul class="sponsor-list">
                                    <li class="sponsor-item">
                                        <img src="/images/sponsor_adidas.png" alt="" height="45px">
                                    </li>
                                    <li class="sponsor-item">
                                        <img src="/images/sponsor_teamviewer.png" alt="" height="35px">
                                    </li>
                                    <li class="sponsor-item">
                                        <img src="/images/sponsor_kohler.png" alt="" height="20px">
                                    </li>
                                </ul>
                                <div class="sponsors__divider"></div>
                            </div>
                            <div class="sub-menu">
                                <ul class="sub-menu-list">
                                    <li class="sub-menu-item">
                                        <a href="/auth" class="sub-menu-link">
                                            <span class="material-icons">logout</span>
                                            <p>Logout</p>
                                        </a>
                                        
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-10">
                        <div class="main-content">
                            <div class="content__player-management">
                                <div class="player-management__title">
                                    <span>Player management</span>
                                </div>
                                <div class="player-management__search-box">
                                    <input id="searchStatInput" type="text" placeholder="Search..">
                                    <!-- <span class="material-icons">search</span> -->
                                </div>
                                <div class="player-management__player-list">
                                    <!-- <div class="player-management__player-item">
                                        <div class="player-item__image">
                                            <img src="" onerror="this.src='/images/avatar_test.jpg'" alt="">
                                        </div>
                                        <div class="player-item__name"></div>
                                        <div class="player-item__position"></div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- -------------------- -->
    <!-- Boostrap javascript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(document).ready(() =>{
            let getCookie = (name) => {
                var nameEQ = name + "=";
                var ca = document.cookie.split(';');
                for(var i=0;i < ca.length;i++) {
                    var c = ca[i];
                    while (c.charAt(0)==' ') c = c.substring(1,c.length);
                    if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
                }
                return null;
            };

            $.ajax({
                url: 'http://localhost:3001/coach/statistic',
                type: 'GET',
                dataType: 'json',
                contentType: 'application/json',
                headers: {
                    'auth-token': getCookie('auth-token'),
                },
                success: (data) => {
                    let html = '';
                    let playerList = data.data;
                    playerList.forEach( player => {
                        html += `
                            <a class="player-management__player-item" href="/stat/${player.player._id}">
                                <div class="player-item__image">
                                    <img src="${player.player.photo}" onerror="this.src='/images/avatar_test.jpg'" alt="">
                                </div>
                                <div class="player-item__name">
                                    <span>${player.player.name}</span>    
                                </div>
                                <div class="player-item__position">
                                    <span>${player.player.position}</span>       
                                </div>
                            </a>
                        `;
                    });

                    $('.player-management__player-list').html(html);

                    $('#searchStatInput').on('keyup', () => {
                        $('.player-management__player-list').html('');
                        let value = $('#searchStatInput').val().toLowerCase();

                        if(value === '' || value === undefined || value === null) {
                            $('.player-management__player-list').html(html);
                        } else {
                            let matchList = playerList.filter( player => player.player.name.toLowerCase().indexOf(value) > -1);
                            matchList.forEach( player => {
                                $('.player-management__player-list').append(`
                                    <a class="player-management__player-item" href="/stat/${player.player._id}">
                                        <div class="player-item__image">
                                            <img src="${player.player.photo}" onerror="this.src='/images/avatar_test.jpg'" alt="">
                                        </div>
                                        <div class="player-item__name">
                                            <span>${player.player.name}</span>    
                                        </div>
                                        <div class="player-item__position">
                                            <span>${player.player.position}</span>       
                                        </div>
                                    </a>
                                `);
                            });
                        }
                    });
                }
            });
        });
    </script>
</body>
</html>