:root {
  --color-background-1: #fff;
  --color-background-2: rgb(245, 245, 245);
  --color-background-3: rgb(235, 235, 235);
}

.app {
  background: var(--color-background-1);
}

.content {
  border-radius: 12px;
  overflow: hidden;
  height: 100%;
}

.navbar {
  flex-direction: column;
  justify-content: space-between;
  background: var(--color-background-2);
  width: 100%;
  height: 100vh;
}
.main-content {
  background: var(--color-background-3);
  width: 100%;
  height: 100vh;
  padding: 0 36px;
}
.sub-content {
  background: var(--color-background-2);
  width: 100%;
  height: 100vh;
}

.dashboard__footer {
  display: flex;
  max-height: 360px;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff8d8d;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #fff;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
