:root {
  --color-primary: #c70101;
  --color-gradient: linear-gradient(to right, red, white);
  --color-background-1: #fff;
  --color-background-2: rgb(245, 245, 245);
  --color-background-3: rgb(235, 235, 235);
}

/*------------------------------------------------------*/
/*---------------------NAVBAR---------------------------*/
/*------------------------------------------------------*/

.logo {
  display: flex;
  flex-direction: column;
  padding: 16px;
  align-items: center;
}

.logo img {
  width: 60%;
  margin-bottom: 16px;
}

.logo p {
  font-family: "Bebas Neue", cursive;
  font-size: 24px;
}

.main-menu {
  display: flex;
  width: 100%;
  padding-left: 24px;
  flex-grow: 1;
  margin-bottom: 24px;
}

.menu-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.menu-item {
  padding-right: 24px;
  margin: 2px 0;
}

.menu-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #363636;
  padding: 12px 8px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.menu-link:hover {
  background: linear-gradient(
    90deg,
    rgba(255, 193, 193, 1) 0%,
    rgba(255, 223, 223, 1) 40%,
    rgba(255, 255, 255, 0) 100%
  );
  color: #363636;
}

.menu-link--active {
  background: linear-gradient(
    90deg,
    rgba(255, 193, 193, 1) 0%,
    rgba(255, 223, 223, 1) 40%,
    rgba(255, 255, 255, 0) 100%
  );
}

.menu-item--active {
  border-radius: 4px;
  border-right: 8px solid var(--color-primary);
}

.menu-link span {
  font-size: 24px;
}

.menu-link p {
  padding-left: 8px;
  flex-grow: 1;
  font-size: 16px;
  margin: 0;
}

.sponsors {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 32px;
}

.sponsors__title {
  font-size: 24px;
  font-weight: 600;
  padding: 0 0 0 24px;
  margin-bottom: 24px;
}

.sponsors__title p {
  display: inline-block;
  margin: 0;
}
.sponsors__title .title-sub {
  width: 50%;
  height: 1px;
  background: linear-gradient(
    90deg,
    rgba(199, 1, 1, 1) 0%,
    rgba(199, 1, 1, 0.5) 65%,
    rgba(199, 1, 1, 0) 100%
  );
}

.sponsor-list {
  display: flex;
  flex-direction: column;
}

.sponsor-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}

.sponsors__divider {
  margin: 0 24px;
  height: 1px;
  background: rgb(151, 151, 151);
}

.sub-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 32px;
  padding-left: 24px;
}

.sub-menu-list {
  display: inline-block;
}

.sub-menu-item {
  font-size: 16px;
}

.sub-menu-link {
  display: flex;
  align-items: center;
  color: #363636;
}

.sub-menu-link:hover {
  color: var(--color-primary);
}

.sub-menu-link p {
  padding-left: 12px;
  margin: 0;
}

/*------------------------------------------------------*/
/*--------------------- MAIN ---------------------------*/
/*------------------------------------------------------*/
.content--header {
  display: flex;
  padding-top: 24px;
  margin-bottom: 32px;
}

.header--avatar {
  width: 10%;
  border: 4px solid var(--color-primary);
  border-radius: 50%;
  padding: 8px;
}

.header--avatar img {
  border-radius: 50%;
}

.header--text {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  justify-content: center;
}

.header--username {
  display: flex;
}

.header--username p {
  font-size: 28px;
  font-weight: 600;
  margin: 0 0 0 8px;
}

.header--username span {
  font-size: 28px;
  color: #454545;
}

.header--greeting {
  font-size: 18px;
  font-weight: 600;
  color: #797979;
}

.content--next-match {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 32px;
  background: var(--color-background-1);
  /* background: #fff;
  box-shadow: 6px 6px 12px 1px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 6px 6px 12px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 6px 6px 12px 1px rgba(0, 0, 0, 0.15); */
  padding: 12px 0;
  margin-bottom: 32px;
}

.next-match--title {
  font-family: "Alfa Slab One", cursive;
  font-size: 20px;
  color: #454545;
}

.next-match--tournament {
  height: 50px;
}

.next-match--tournament img {
  height: 100%;
}

.next-match--squad {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
}

.squad {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.squad-logo {
  width: 50%;
  margin-bottom: 12px;
}

.squad-name {
  font-size: 18px;
  font-weight: 600;
}

.next-match--vs {
  font-family: "Alfa Slab One", cursive;
  font-size: 16px;
  color: #454545;
}

.next-match--date {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 12px;
}

.next-match--time {
  font-weight: 600;
}

.next-match--day {
  font-size: 17px;
}

.next-match--stadium {
  display: flex;
  align-items: center;
}

.stadium-name {
  font-weight: 600;
  margin-left: 12px;
}

/* TOP SCORE*/
.content__top-score {
  width: 50%;
  padding-right: 12px;
}

.top-score__header {
  display: flex;
}

.top-score__title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}

.top-score__list {
  background: var(--color-background-1);
  border-radius: 16px;
  padding: 12px 16px;
}

.top-score__list table {
  border-collapse: collapse;
  width: 100%;
  padding: 12px;
}

.top-score__list table thead tr {
  text-align: center;
}

.top-score__list table tbody tr {
  border-top: 1px solid #d4d4d4;
  height: 36px;
}

.top-score__index {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-score__team {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.top-score__team img {
  width: 45%;
  border-radius: 50%;
  padding: 4px;
}

.top-score__name {
  font-size: 18px;
  font-weight: 600;
  padding-left: 12px;
}

.top-score__games {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-score__goals {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
}

/*  ----- Home announcement -----  */
.content__home-ancm {
  width: 50%;
  padding-left: 12px;
}

.home-ancm__list {
  background: var(--color-background-1);
  border-radius: 16px;
  padding: 16px 16px 4px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 300px;
  overflow-y: scroll;
}

/* width */
.home-ancm__list::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* Track */
.home-ancm__list::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

/* Handle */
.home-ancm__list::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.home-ancm__list::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.border-bottom {
  border-bottom: 1px solid #ccc;
}

/*------------------------------------------------------*/
/*--------------------- SuB ---------------------------*/
/*------------------------------------------------------*/

.sub-content--standings {
  margin-left: 16px;
  padding: 24px 16px 0 16px;
}

.stadings--header {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 24px;
}

.standings--content {
  background: var(--color-background-1);
  padding: 12px;
  border-radius: 12px;
  border-left: 8px solid var(--color-primary);
}

.standings--table {
  border-collapse: collapse;
  width: 100%;
  padding: 12px;
}

.standings--table thead tr {
  text-align: center;
}

.standings--table tbody tr {
  border-top: 1px solid #d4d4d4;
  height: 36px;
}

.standings--rank {
  text-align: center;
}

.standings--team {
  display: flex;
  padding-left: 20px;
  align-items: center;
}

.standings--team img {
  width: 24px;
  height: 24px;
}

.standings--team span {
  margin-left: 4px;
}

.standings--played {
  text-align: center;
}

.standings--gd {
  text-align: center;
}

.standings--point {
  text-align: center;
  font-weight: 600;
}

/*-------------------------- STATISTIC PAGE ------------------------------*/

.main-content--statistic {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.content__player-stat-header {
  display: flex;
  padding: 0 0 0 32px;
}

.player-stat__avatar {
  width: 10%;
  border: 4px solid var(--color-primary);
  border-radius: 50%;
  padding: 8px;
}

.player-stat__avatar img {
  border-radius: 50%;
}

.player-stat__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 32px;
  padding-right: 128px;
  flex-grow: 1;
}

.player-stat__header-attribute {
  display: flex;
  flex-direction: column;
}

.player-stat__header-name {
  font-weight: 600;
  font-size: 24px;
}

.player-stat__header-number {
  font-size: 32px;
  color: rgb(151, 151, 151);
}

.player-stat__header-title {
  font-size: 17px;
  color: rgb(151, 151, 151);
}

.player-stat__header-title ~ span {
  font-size: 20px;
  font-weight: 600;
}

.content__player-stat-detail-row1 {
  display: flex;
  justify-content: space-evenly;
}

.player-stat--component {
  position: relative;
  background: var(--color-background-2);
  display: flex;
  padding: 12px 0;
  border-radius: 12px;
}

.stat-component--icon {
  display: flex;
  align-items: center;
  margin-left: 24px;
  width: 30%;
}

.stat-component--icon span {
  font-size: 40px;
  color: #fc5151;
}

.stat-component--data {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.stat-component--title {
  font-size: 18px;
  color: rgb(151, 151, 151);
}

.stat-component--content {
  font-size: 28px;
  font-weight: 600;
  color: rgb(90, 90, 90);
}

.content__player-stat-detail-row2 {
  display: flex;
  justify-content: space-evenly;
}

.content__player-stat-detail-row2 > .player-stat--component {
  flex-direction: column;
}

.stat-component--chart {
  position: relative;
  padding: 0 72px;
}

.component-chart--label-apprearence {
  position: absolute;
  left: 140px;
  top: 158px;
  font-size: 24px;
  font-weight: 600;
}

.component-chart--label-passes {
  position: absolute;
  left: 140px;
  top: 158px;
  font-size: 24px;
  font-weight: 600;
}

.stat-component--comment {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.component-comment--title {
  font-size: 20px;
  color: #666;
  font-weight: 600;
  margin-bottom: 16px;
}
.component-comment--content {
  padding: 0 4px;
  overflow-y: scroll;
  flex-grow: 1;
  max-height: 210px;
  margin-bottom: 16px;
}
.component-comment--item {
  border-radius: 16px;
  background: var(--color-background-3);
  margin-bottom: 8px;
  padding: 8px 16px;
}
.comment-item--author {
  font-weight: 600;
}
.comment-item--message {
  padding: 0 4px;
}

.comment-item--date {
  font-size: 14px;
  font-style: italic;
  margin-top: 4px;
  color: #777;
  display: flex;
  justify-content: flex-end;
  padding-right: 8px;
}

.component-comment--input {
  display: flex;
  align-items: center;
}

.component-comment--input input {
  padding: 4px 12px;
  flex-grow: 1;
  border-radius: 16px;
  border: 2px solid #999;
  line-height: 1.5;
  margin: 0 0 0 12px;
}

.component-comment--input input:focus {
  border: 2px solid #555;
}

.comment-send {
  margin: 0 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 4px 0;
}

/* .stat-component--position {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.component-position--title {
  font-size: 22px;
  color: #666;
  padding-left: 32px;
  font-weight: 600;
  margin-bottom: 24px;
}

.component-position--image {
  width: 40%;
}

.component-position--content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}

.component-position--content span {
  font-size: 32px;
  font-weight: 600;
  color: #fff;
} */

.content__player-stat-detail-row3 {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 24px;
}

.player-stat--component-title {
  font-size: 22px;
  color: #666;
  padding-left: 32px;
  font-weight: 600;
  margin-bottom: 24px;
}

.stat-component--data-plus {
  display: flex;
  justify-content: space-evenly;
}

.data-plus--item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data-plus--number {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  padding: 20% 0;
  border-radius: 50%;
  border: 4px solid #ff2525;
  font-size: 20px;
}

.data-plus--title {
  font-weight: 600;
}

/* ------------- Line up suggestion ---------------- */

.lineup-suggestion--main {
  padding-top: 32px;
}

.lineup-suggestion--title {
  margin-bottom: 20px;
}

.lineup-suggestion--title span {
  font-size: 32px;
  font-weight: 600;
  color: rgb(100, 100, 100);
}

.lineup-suggestion--multichoice {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 44px;
}
.suggestion-multichoice--item {
  padding: 12px 24px;
  background: #ff6c6c;
  border-radius: 16px;
  cursor: pointer;
}

.suggestion-multichoice--item:hover {
  background: #dc95dd;
}

.suggestion-multichoice--item span {
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}

.squad-choice--active {
  background: #dc95dd;
}

.lineup-suggestion--squad {
  position: relative;
  background: rgb(255, 255, 255);
  border-radius: 16px;
  background-image: url("/images/pitch.png");
  padding: 32px 0 2px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 12px rgb(206, 206, 206);
}

.squad-row {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 32px;
}

.squad-position {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}

.squad-position--disabled {
  display: none;
}

.squad-position img {
  width: 35%;
  border-radius: 50%;
}

.squad-position span {
  font-size: 18px;
  font-weight: 600;
}

.lineup-suggestion--sub {
  padding-top: 32px;
}

.suggestion-sub--title {
  font-size: 28px;
  font-weight: 600;
  color: rgb(100, 100, 100);
  padding-left: 32px;
  margin-bottom: 12px;
}

.suggestion-sub--list {
  display: flex;
  flex-direction: column;
  padding-left: 32px;
}

.suggestion-sub--item {
  display: flex;
  align-items: center;
}

.sub-item--label {
  padding: 8px 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.sub-item--label-goalkeeper {
  background: #f6e785;
}

.sub-item--label-defender {
  background: #67d0dd;
}

.sub-item--label-midfielder {
  background: #9fe481;
}

.sub-item--label-attacker {
  background: #faafa5;
}

.sub-item--postion {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub-item--postion span {
  font-size: 18px;
  font-weight: 600;
}

.sub-item--number {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub-item--number span {
  font-size: 18px;
  font-weight: 600;
}

.sub-item--name {
  padding-left: 12px;
}

.sub-item--name span {
  font-size: 20px;
}

.calculate-loading {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.863);
  padding: 4px;
  border: 4px solid 0 0 12px #fff;
  z-index: 100;
  border-radius: 16px;
}

.calculate-loading img {
  width: 50%;
}

.loader--active {
  display: flex;
}

/* .calculate-loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid pink;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

/* ------------ Players management page ------------ */
.content__player-management {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
}

.player-management__title {
  font-size: 32px;
  font-weight: 600;
  color: rgb(100, 100, 100);
  margin-bottom: 32px;
}

.player-management__search-box {
  display: flex;
  margin-bottom: 16px;
  padding: 8px 0 8px 16px;
  align-items: center;
}

.player-management__search-box input {
  padding: 4px 12px;
  border-radius: 16px;
  border: 2px solid #999;
  line-height: 1.5;
}

.player-management__search-box input:focus {
  border: 2px solid #555;
}

.player-management__search-box span {
  margin: 0 12px;
  cursor: pointer;
}

.player-management__player-list {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #cecece;
  padding: 24px 0 12px 0;
  padding-left: 12px;
  max-height: 725px;
  overflow-y: scroll;
  border-radius: 16px;
}

/* width */
.player-management__player-list::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* Track */
.player-management__player-list::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

/* Handle */
.player-management__player-list::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.player-management__player-list::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.player-management__player-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--color-background-2);
  padding: 24px 0 16px 0;
  border-radius: 16px;
  width: 10%;
  box-shadow: 0 0.0625rem 0.125rem 0 rgb(0 0 0 / 10%);
  border-bottom: 2px solid rgb(255, 117, 117);
  cursor: pointer;
  margin: 0 18px 24px 18px;
}

.player-management__player-item:hover {
  box-shadow: 0 0.0625rem 20px 0 rgb(0 0 0 / 5%);
  transform: translateY(-0.0625rem);
}

.player-item__image {
  border-radius: 8px;
  width: 75%;
  overflow: hidden;
  margin-bottom: 8px;
}

.player-item__name {
  font-weight: 600;
}

.player-item__position {
  font-size: 15px;
}

/* =========== LECTURE MANAGEMENT =============*/
.content__lecture-management {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
}

.lecture-management__title {
  font-size: 32px;
  font-weight: 600;
  color: rgb(100, 100, 100);
  margin-bottom: 32px;
}

.lecture-management__search-box {
  display: flex;
  margin-bottom: 24px;
  padding: 8px 0 8px 48px;
  align-items: center;
}

.lecture-management__search-box input {
  padding: 4px 12px;
  border-radius: 16px;
  border: 2px solid #999;
  line-height: 1.5;
}

.lecture-management__search-box input:focus {
  border: 2px solid #555;
}

.lecture-management__create {
  display: flex;
  align-items: center;
  margin-left: 32px;
  font-size: 18px;
  cursor: pointer;
}

.create-lecture__label {
  font-weight: 600;
  padding-left: 8px;
}

.lecture-management__lecture-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 24px 24px 24px;
  border: 1px solid #cecece;
  border-radius: 16px;
  max-height: 725px;
  overflow-y: scroll;
}

/* width */
.lecture-management__lecture-list::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* Track */
.lecture-management__lecture-list::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

/* Handle */
.lecture-management__lecture-list::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.lecture-management__lecture-list::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.lecture-management__lecture-item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: var(--color-background-2);
  padding: 16px 48px;
  border-radius: 16px;
  width: 100%;
  box-shadow: 0 0.0625rem 0.125rem 0 rgb(0 0 0 / 10%);
  border-bottom: 2px solid rgb(255, 117, 117);
  margin-bottom: 24px;
}

.lecture-management__lecture-item:hover {
  box-shadow: 0 0.0625rem 20px 0 rgb(0 0 0 / 5%);
  transform: translateY(-0.0625rem);
}

.lecture-item__title {
  font-size: 20px;
  font-weight: 600;
  width: 50%;
  cursor: pointer;
}

.lecture-item__author {
  font-size: 18px;
  font-style: italic;
  width: 15%;
}

.lecture-item__category {
  width: 15%;
}

.lecture-item__category span {
  padding: 8px 16px;
  border-radius: 16px;
  background: rgb(255, 177, 177);
}

.lecture-item__function {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 10%;
}

.lecture-item__function div {
  padding: 6px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.content__modal {
  display: none;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  height: 100vh;
  width: 100%;
  left: 0;
  background: #cececeba;
  z-index: 9;
}

.lecture-management__create-box {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  background: var(--color-background-2);
  padding: 24px 48px;
  border-radius: 16px;
  height: 75vh;
  width: 750px;
  z-index: 99;
}

.lecture-create-box__title {
  font-weight: 600;
  font-size: 24px;
  color: rgb(99, 99, 99);
}

.lecture-create-box__content {
  display: flex;
  flex-direction: column;
}

.lecture-create-box__lecture-title {
  margin-bottom: 24px;
}

.lecture-create-box__lecture-title label {
  font-weight: 600;
  margin-bottom: 4px;
}

.lecture-create-box__content input,
.lecture-create-box__content textarea {
  width: 100%;
  padding: 4px 12px;
  border-radius: 16px;
  border: 2px solid #999;
  line-height: 1.5;
}

.lecture-create-box__content textarea {
  resize: none;
  display: block;
  height: 35vh;
  padding: 20px 16px;
}

.lecture-create-box__content input:focus,
.lecture-create-box__content textarea:focus {
  border: 2px solid #555;
}

.lecture-management__view-box {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  background: var(--color-background-2);
  padding: 24px 48px;
  border-radius: 16px;
  height: 75vh;
  width: 750px;
  z-index: 99;
}

.lecture-view-box__header {
  margin-bottom: 32px;
  padding-bottom: 16px;
  border-bottom: 1px solid #bebebe;
}

.lecture-view-box__title {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 24px;
  color: rgb(99, 99, 99);
  margin-bottom: 8px;
  border-bottom: 1px solid #bebebe;
  padding-bottom: 16px;
}

.lecture-view-box__close-btn {
  cursor: pointer;
}

.lecture-view-box__sub-title {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
}

.lecture-view-box__sub-title span {
  font-size: 16px;
  margin-left: 8px;
}

.lecture-view-box__author {
  display: flex;
  align-items: center;
}

.lecture-view-box__author img {
  width: 5%;
  border-radius: 50%;
}

.lecture-view-box__category {
  display: flex;
  align-items: center;
}

.lecture-view-box__date {
  display: flex;
  align-items: center;
}

.lecture-view-box__date span {
  font-size: 16px;
}

.lecture-view-box__content {
  flex-grow: 1;
}

.lecture-create-box__lecture-category {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.lecture-create-box__lecture-category span {
  font-weight: 600;
}

.lecture-create-box__lecture-category div {
  padding-left: 48px;
}

.lecture-create-box__lecture-content {
  margin-bottom: 16px;
}

.lecture-create-box__lecture-content label {
  font-weight: 600;
  margin-bottom: 4px;
}

.create-box__button {
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  font-weight: 600;
  color: rgb(46, 46, 46);
}

.create-box__button div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 8px 12px;
  width: 25%;
  border-radius: 16px;
  cursor: pointer;
}

.create-box__update-btn {
  background: rgb(173 255 207);
}

.create-box__update-btn:hover {
  background: rgb(131, 255, 183);
}

.create-box__create-btn {
  background: rgb(173 255 207);
}

.create-box__create-btn:hover {
  background: rgb(131, 255, 183);
}

.create-box__cancel-btn {
  background: rgb(255 180 180);
}

.create-box__cancel-btn:hover {
  background: rgb(255, 147, 147);
}

/* =============== ANNOUNCEMENTS =============================== */

.content__announcement-management {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
}

.announcement-management__title {
  font-size: 32px;
  font-weight: 600;
  color: rgb(100, 100, 100);
  margin-bottom: 32px;
}

.announcement-management__search-box {
  display: flex;
  margin-bottom: 24px;
  padding: 8px 0 8px 48px;
  align-items: center;
}

.announcement-management__search-box input {
  padding: 4px 12px;
  border-radius: 16px;
  border: 2px solid #999;
  line-height: 1.5;
}

.announcement-management__search-box input:focus {
  border: 2px solid #555;
}

.announcement-management__create {
  display: flex;
  align-items: center;
  margin-left: 32px;
  font-size: 18px;
  cursor: pointer;
}

.create-announcement__label {
  font-weight: 600;
  padding-left: 8px;
}

.announcement-management__announcement-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 24px 24px 24px;
  border: 1px solid #cecece;
  border-radius: 16px;
  max-height: 725px;
  overflow-y: scroll;
}

/* width */
.announcement-management__announcement-list::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* Track */
.announcement-management__announcement-list::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

/* Handle */
.announcement-management__announcement-list::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.announcement-management__announcement-list::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.announcement-management__announcement-item {
  display: flex;
  background: var(--color-background-2);
  padding: 12px 24px;
  border-radius: 16px;
  justify-content: space-evenly;
  margin-bottom: 24px;
  width: 100%;
  cursor: pointer;
}

.announcement-item__image {
  width: 40px;
  padding-top: 4px;
}

.announcement-item__image img {
  width: 100%;
  border-radius: 50%;
}

.announcement-item__body {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  width: 95%;
}

.announcement-item__header {
  display: flex;
  align-items: center;
  padding-top: 8px;
}

.announcement-item__author {
  display: flex;
  align-items: center;
}

.announcement-item__author span {
  font-size: 20px;
  font-weight: 600;
}

.announcement-item__header > span {
  padding-left: 4px;
}

.announcement-item__title {
  padding-left: 4px;
  font-size: 18px;
  font-weight: 600;
}

.announcement-item__content {
  padding-top: 8px;
  margin-bottom: 24px;
}

.announcement-item__footer {
  display: flex;
  justify-content: flex-end;
}

.announcement-item__date {
  font-style: italic;
}

.announcement__create-box {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  background: var(--color-background-2);
  padding: 24px 48px;
  border-radius: 16px;
  height: 75vh;
  width: 750px;
  z-index: 99;
}

.announcement-create-box__title {
  font-weight: 600;
  font-size: 24px;
  color: rgb(99, 99, 99);
}

.announcement-create-box__content {
  display: flex;
  flex-direction: column;
}

.announcement-create-box__announcement-title {
  margin-bottom: 24px;
}

.announcement-create-box__announcement-title label {
  font-weight: 600;
  margin-bottom: 4px;
}

.announcement-create-box__content input,
.announcement-create-box__content textarea {
  width: 100%;
  padding: 4px 12px;
  border-radius: 16px;
  border: 2px solid #999;
  line-height: 1.5;
}

.announcement-create-box__content textarea {
  resize: none;
  display: block;
  height: 35vh;
  padding: 20px 16px;
}

.announcement-create-box__content input:focus,
.announcement-create-box__content textarea:focus {
  border: 2px solid #555;
}

.announcement-create-box__announcement-content {
  margin-bottom: 16px;
}

.announcement-create-box__announcement-content label {
  font-weight: 600;
  margin-bottom: 4px;
}
