:root {
  --color-primary: #c70101;
  --color-gradient: linear-gradient(to right, red, white);
  --color-background-1: #fff;
  --color-background-2: rgb(245, 245, 245);
  --color-background-3: rgb(235, 235, 235);
}

/*------------------------------------------------------*/
/*---------------------NAVBAR---------------------------*/
/*------------------------------------------------------*/

.logo {
  display: flex;
  flex-direction: column;
  padding: 16px;
  align-items: center;
}

.logo img {
  width: 60%;
  margin-bottom: 16px;
}

.logo p {
  font-family: "Bebas Neue", cursive;
  font-size: 24px;
}

.main-menu {
  display: flex;
  width: 100%;
  padding-left: 24px;
  flex-grow: 1;
  margin-bottom: 24px;
}

.menu-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.menu-item {
  padding-right: 24px;
  margin: 2px 0;
}

.menu-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #363636;
  padding: 12px 8px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.menu-link:hover {
  background: linear-gradient(
    90deg,
    rgba(255, 193, 193, 1) 0%,
    rgba(255, 223, 223, 1) 40%,
    rgba(255, 255, 255, 0) 100%
  );
  color: #363636;
}

.menu-link--active {
  background: linear-gradient(
    90deg,
    rgba(255, 193, 193, 1) 0%,
    rgba(255, 223, 223, 1) 40%,
    rgba(255, 255, 255, 0) 100%
  );
}

.menu-item--active {
  border-radius: 4px;
  border-right: 8px solid var(--color-primary);
}

.menu-link span {
  font-size: 24px;
}

.menu-link p {
  padding-left: 8px;
  flex-grow: 1;
  font-size: 16px;
  margin: 0;
}

.sponsors {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 32px;
}

.sponsors__title {
  font-size: 24px;
  font-weight: 600;
  padding: 0 0 0 24px;
  margin-bottom: 24px;
}

.sponsors__title p {
  display: inline-block;
  margin: 0;
}
.sponsors__title .title-sub {
  width: 50%;
  height: 1px;
  background: linear-gradient(
    90deg,
    rgba(199, 1, 1, 1) 0%,
    rgba(199, 1, 1, 0.5) 65%,
    rgba(199, 1, 1, 0) 100%
  );
}

.sponsor-list {
  display: flex;
  flex-direction: column;
}

.sponsor-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}

.sponsors__divider {
  margin: 0 24px;
  height: 1px;
  background: rgb(151, 151, 151);
}

.sub-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 32px;
  padding-left: 24px;
}

.sub-menu-list {
  display: inline-block;
}

.sub-menu-item {
  font-size: 16px;
}

.sub-menu-link {
  display: flex;
  align-items: center;
  color: #363636;
}

.sub-menu-link:hover {
  color: var(--color-primary);
}

.sub-menu-link p {
  padding-left: 12px;
  margin: 0;
}

/*------------------------------------------------------*/
/*--------------------- MAIN ---------------------------*/
/*------------------------------------------------------*/
.content--header {
  display: flex;
  padding-top: 24px;
  margin-bottom: 32px;
}

.header--avatar {
  width: 10%;
  border: 4px solid var(--color-primary);
  border-radius: 50%;
  padding: 8px;
}

.header--avatar img {
  border-radius: 50%;
}

.header--text {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  justify-content: center;
}

.header--username {
  display: flex;
}

.header--username p {
  font-size: 28px;
  font-weight: 600;
  margin: 0 0 0 8px;
}

.header--username span {
  font-size: 28px;
  color: #454545;
}

.header--greeting {
  font-size: 18px;
  font-weight: 600;
  color: #797979;
}

.content--next-match {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 32px;
  background: var(--color-background-1);
  /* background: #fff;
  box-shadow: 6px 6px 12px 1px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 6px 6px 12px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 6px 6px 12px 1px rgba(0, 0, 0, 0.15); */
  padding: 12px 0;
  margin-bottom: 32px;
}

.next-match--title {
  font-family: "Alfa Slab One", cursive;
  font-size: 20px;
  color: #454545;
}

.next-match--tournament {
  height: 50px;
}

.next-match--tournament img {
  height: 100%;
}

.next-match--squad {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
}

.squad {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.squad-logo {
  width: 50%;
  margin-bottom: 12px;
}

.squad-name {
  font-size: 18px;
  font-weight: 600;
}

.next-match--vs {
  font-family: "Alfa Slab One", cursive;
  font-size: 16px;
  color: #454545;
}

.next-match--date {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 12px;
}

.next-match--time {
  font-weight: 600;
}

.next-match--day {
  font-size: 17px;
}

.next-match--stadium {
  display: flex;
  align-items: center;
}

.stadium-name {
  font-weight: 600;
  margin-left: 12px;
}

/* -------- LECTURE ---------*/
.content--lecture {
  padding-top: 16px;
}

.lecture--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.lecture--header-title {
  font-size: 20px;
  font-weight: 600;
}

.lecture--header-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #ff6969;
}

.lecture--header-button:hover {
  color: var(--color-primary);
}

.lecture--list {
  display: flex;
  justify-content: space-around;
}

.lecture--item {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 250px;
  padding: 20px;
  background: var(--color-background-1);
  border-radius: 12px;
}

.lecture--item-header {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #d4d4d4;
}

.item-header--img {
  width: 20%;
}

.item-header--img img {
  width: 100%;
  border-radius: 12px;
}

@media (max-width: 1325px) {
  .item-header--img {
    display: none;
  }
}

.item-header--title {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  font-size: 16px;
  font-weight: 600;
}

.item-header--author {
  display: flex;
  align-items: center;
  color: #646464;
  font-weight: bold;
}

.lecture--item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  margin-bottom: 12px;
}

.lecture--item-content span {
  padding-left: 16px;
}

.lecture-time {
  display: flex;
  align-items: center;
}

.lecture-start-date {
  display: flex;
  align-items: center;
}

.lecture-room {
  display: flex;
  align-items: center;
}

.lecture--detail-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lecture--detail-btn a {
  color: #ff6969;
}

.lecture--detail-btn a:hover {
  color: var(--color-primary);
}

/*------------------------------------------------------*/
/*--------------------- SuB ---------------------------*/
/*------------------------------------------------------*/

.sub-content--standings {
  margin-left: 16px;
  padding: 24px 16px 0 16px;
}

.stadings--header {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 24px;
}

.standings--content {
  background: var(--color-background-1);
  padding: 12px;
  border-radius: 12px;
  border-left: 8px solid var(--color-primary);
}

.standings--table {
  border-collapse: collapse;
  width: 100%;
  padding: 12px;
}

.standings--table thead tr {
  text-align: center;
}

.standings--table tbody tr {
  border-top: 1px solid #d4d4d4;
  height: 36px;
}

.standings--rank {
  text-align: center;
}

.standings--team {
  display: flex;
  padding-left: 20px;
  align-items: center;
}

.standings--team img {
  width: 24px;
  height: 24px;
}

.standings--team span {
  margin-left: 4px;
}

.standings--played {
  text-align: center;
}

.standings--gd {
  text-align: center;
}

.standings--point {
  text-align: center;
  font-weight: 600;
}

/*-------------------------- STATISTIC PAGE ------------------------------*/

.main-content--statistic {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.content__player-stat-header {
  display: flex;
  padding: 0 0 0 32px;
}

.player-stat__avatar {
  width: 10%;
  border: 4px solid var(--color-primary);
  border-radius: 50%;
  padding: 8px;
}

.player-stat__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 32px;
  padding-right: 128px;
  flex-grow: 1;
}

.player-stat__header-attribute {
  display: flex;
  flex-direction: column;
}

.player-stat__header-name {
  font-weight: 600;
  font-size: 24px;
}

.player-stat__header-number {
  font-size: 32px;
  color: rgb(151, 151, 151);
}

.player-stat__header-title {
  font-size: 17px;
  color: rgb(151, 151, 151);
}

.player-stat__header-title ~ span {
  font-size: 20px;
  font-weight: 600;
}

.content__player-stat-detail-row1 {
  display: flex;
  justify-content: space-evenly;
}

.player-stat--component {
  position: relative;
  background: var(--color-background-2);
  display: flex;
  padding: 12px 0;
  border-radius: 12px;
}

.stat-component--icon {
  display: flex;
  align-items: center;
  margin-left: 24px;
  width: 30%;
}

.stat-component--icon span {
  font-size: 40px;
  color: #fc5151;
}

.stat-component--data {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.stat-component--title {
  font-size: 18px;
  color: rgb(151, 151, 151);
}

.stat-component--content {
  font-size: 28px;
  font-weight: 600;
  color: rgb(90, 90, 90);
}

.content__player-stat-detail-row2 {
  display: flex;
  justify-content: space-evenly;
}

.content__player-stat-detail-row2 > .player-stat--component {
  flex-direction: column;
}

.stat-component--chart {
  position: relative;
  padding: 0 72px;
}

.component-chart--label-apprearence {
  position: absolute;
  left: 140px;
  top: 158px;
  font-size: 24px;
  font-weight: 600;
}

.component-chart--label-passes {
  position: absolute;
  left: 140px;
  top: 158px;
  font-size: 24px;
  font-weight: 600;
}

.stat-component--position {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.component-position--title {
  font-size: 22px;
  color: #666;
  padding-left: 32px;
  font-weight: 600;
  margin-bottom: 24px;
}

.component-position--image {
  width: 40%;
}

.component-position--content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}

.component-position--content span {
  font-size: 32px;
  font-weight: 600;
  color: #fff;
}

.content__player-stat-detail-row3 {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 24px;
}

.player-stat--component-title {
  font-size: 22px;
  color: #666;
  padding-left: 32px;
  font-weight: 600;
  margin-bottom: 24px;
}

.stat-component--data-plus {
  display: flex;
  justify-content: space-evenly;
}

.data-plus--item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data-plus--number {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  padding: 20% 0;
  border-radius: 50%;
  border: 4px solid #ff2525;
  font-size: 20px;
}

.data-plus--title {
  font-weight: 600;
}
